<div class="container">
    <div class="row mt-n5">
        <div *ngFor="let article of listArticles" class="col-md-6 col-lg-4 mt-5 card-article">
            <div class="blog-grid" [routerLink]="['/article', article.id]">
                <div class="blog-grid-text p-4">
                    <h3 class="h5 mb-3">{{article.title}}</h3>
                    <p class="display-30">{{article.content | striphtml}}</p>
                    <div class="meta meta-style2">
                        <p>{{article.createdAt | date:'mediumDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="listArticles.length == 0" class="col-md-12">
            <h6>Ainda não possui artigos...</h6>
        </div>
    </div>
</div>